<% provide(:title,"Home") %>
<div class="center jumbotron">

  	<h1>Home page</h1>
    <p>This is the home page of this sample app</p>

    <%= link_to "Sign Up Now!!", signup_path, class: "btn btn-lg btn-primary" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

            